*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
}
p{
    text-align: justify;
    font-size: 19px;
    color: rgb(155, 146, 146);
   padding: 18px;
}
h1{
    font-size: 65px !important;
}
h3{
    font-size: 45px !important;
    font-weight: 800;
}
a{
    text-decoration: none !important;
    text-transform: capitalize;
    color: black !important;
}

body{
    font-family: 'Arimo', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
/* header section css start  */
.header .navbar-nav .nav-item .nav-link{
    color: rgb(41, 27, 27);
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}
.header .navbar-nav .dropdown-menu .dropdown-item{
    color: rgb(41, 27, 27);
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
}

 .sub-menu {
    display: none;
}
.submenu-list:hover .sub-menu a{
    color: red !important;
    
}
.dropdown-menu .dropdown-item{
padding-left: 20px;
padding-right: 20px ;
transition: all .4s;
}
.dropdown-menu .dropdown-item:hover,.nav-link:hover{
    color: red !important;
    background-color: white;
}
.dropdown-menu{
    left: 100px;
 transition: all .4s;
}
.dropdown:hover .dropdown-menu{
    display: block;
    /* transition: all .4s; */
    left: 0px;


}
.header .btn{
    position: relative;
    transition: all .4s;
    background-color: orangered;
    z-index: 8888;
    outline: none;
    overflow: hidden;
}
 .btn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:orange !important;
    left: 0;
    top: -40px;
    padding: 10px;
    transition: all .4s;
    opacity: 0;
z-index: -9;
}
 .btn:hover::after{
    top: 0;
    opacity: 1;
}

/* header section css end */
.main-banner{
    /* height: 100vh; */
    /* position: relative; */
    width: 100%;
    background-image: url('../img/main-banner-bg.jpg');

}
.img-group{
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
}
.img-group img{
    width: 100px;
    animation: mymove 4s linear infinite ;
    transition: all ease-in-out;
}
.text-primary{
    color: rgb(14, 14, 23);
    
}

.img-group .img1{
    width: 100px;
    animation: mymove1 4s linear infinite ;
    transition: all 2s ease-in-out;
}
/*  */
@media screen and (max-width:889px) {
    .img-group{
        display: none;
    }
}
/* hero */
@keyframes mymove {
    0%   { left: 0px;
    position: relative;
    }
    100%  { left: 80px;
    position: relative;
    }
   
  }
  @keyframes mymove1 {
    0%   { top: 0px;
    position: relative;
    }
    100%  { top: 80px;
    position: relative;
    }
   
  }
  .btngroup{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
  }
  /* childhood section start */
 .childhood h3{
    font-weight: 800;
 }
.img img{
    border-radius: 50%;
    height: 550px;
}
    .img  {
        text-align: center;
        position: relative;
        z-index: 1;
    }

.img::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #f5890d;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-animation: border-transform-default 50s linear infinite alternate forwards;
    animation: border-transform-default 50s linear infinite alternate forwards ;
    animation-name: abc;
}
 .img::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #ea512e;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
    animation: border-transform-default 10s linear infinite alternate forwards;
animation-name:abc;
    
}
@keyframes abc {
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}

@keyframes mymove2 {
    0%   { 
    transform: scalex(1.4);

    }
    50%  {
         /* top: 20px; */
    
    }
    100%  {
        
        }
   
  }
  @keyframes mymove3 {
    0%   { 
    }
    50%  {
        
    }
    100%  { 
       
        }
   
  }
  
  
  /* childhood section end*/
  .circle-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .circle{
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    font-weight: 700;
  }
 
  .btn button{
    display: flex;
    padding: 12px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    justify-content: start;
    position: relative;
    overflow: hidden;
    z-index: 999955;
    border-radius: 10px;
  }
  .btn button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: orange;
    top: -30px;
    left: 0px;
    transition: all .4s;
    opacity: 0;
z-index: -999;
    
  }
  .btn button:hover::before{
       top: 0px;
       opacity: 1;
       
  }
  /*popularclass css start  */
  .popularclass{
    background: url(../img/class-shape-2.png) right bottom no-repeat, url(../img/class-shape-1.png) left bottom no-repeat;
    background-color: rgb(255, 255, 201);
  }
  .popularclass .card-body{
    position: relative;
  }
  .popularclass .card-body .price{
    position: absolute;
    color: white;
    padding: 12px;
    top: 0px;
    right: 0px;
    font-weight: 700 !important;
    background-color:#f5530d;
    border-radius: 2px 0px 0px 16px ;
  }
  .popularclass .content {
    border-bottom: 2px dotted red;
  }
  .popularclass .card .img1 {
    overflow:  hidden ;
    transition: all .4s;
  }
  .popularclass .card,.img1 img{
    transition: all .4s;
  }
  .popularclass .card:hover .img1 img{
    transform: scale(1.2);
    
  }
  .popularclass .join{
    display: flex;
    justify-content: space-evenly;
  }
  .popularclass .join span{
    color: #f5530d;
    text-transform: capitalize;
  }
  /*popularclass css end  */
  /* refundly section start  */
  .refundly h3{
    font-weight: 800;
  }
  .refundly {
    background:  url(../img/value-shape-3.png) right bottom no-repeat, url(../img/value-shape-2.png) left bottom no-repeat;;
  }
  .refundly .education{
    display: flex;
    justify-content: space-between;
  }
  .refundly .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out .4s;
  }
  .refundly .content .circle{
    width: 70px;
    height: 70px;
  }
  .refundly .content .circle1{
    background-color: aquamarine;
  }
  .refundly .content .circle2{
    background-color: rgb(82, 82, 211);
  }
  .refundly .main-circle{
    height: 80px;
    width: 80px;
    border: 2px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .refundly .content:hover .circle{
    cursor: pointer;
    background-color: green;
  }
  /* refundly section end  */
  /* teacher  section start */
  .teacher{
    background-color: bisque;
  }
  .teacher .profile{
    margin: 40px 0px;
  }
  .teacher img{
    height: auto !important;
  }
  .teacher .title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  .f-bold{
    font-weight: 700;
  }
  .teacher .img {
    position: relative;
    overflow: hidden;
  }
  .teacher .profile .icon{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 0;
    transition: all .4s;
    overflow: hidden;
    bottom: -40px;
  }
  .teacher .profile:hover .icon{
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 12px;
    
    flex-direction: row;
    opacity: 1;
    z-index: 44;
  }
  /* teacher  section end */
  /* testimonals section start */
  .testimonals .review{
    border-radius: 50%;
    background-color: rgb(196, 182, 151);
    /* height: 400px; */
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
  }
  .testimonals .review .content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  .testimonals .review .quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transition: all .4s ease-in-out;
  }
  .testimonals .review:hover .quote{
background-color: rgb(34, 255, 0);
  }
  /* testimonals section end */
  /* event section start */
  .event{
    background-image: url(../img/event-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .event .event-content{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
  }
  /* event section end */
  /* blog section start */
  .blog .card-content{
    display: flex;
    justify-content: space-between;
  }
  .blog .card .img1{
    overflow: hidden !important;
    transition: all .4s;
  }
  .blog .card:hover img{
    transform: scale(1.2);
  }
  /* blog section  end */
  /* footer section start */
  .footer{
    background-image: url(../img/footer-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    
  }
  .footer::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.9;
  }
  .footer h2{
    position: relative;
  }
  .footer h2::before{
    content: "";
    width:25% ;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -20px;
  }
  .footer .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .social-icon .circle{
    margin: 6px !important;
    cursor: pointer;
    transition: all .4s;
  }
  .footer .social-icon .circle:hover{
   background-color: green;
  }
  .footer .footer-inner{
    display: flex;
    margin-top: 15px;
    /* justify-content: center; */
    align-items: center;
  }
  .footer .footer-inner i{
    color: red !important;
  }
  .footer .footer-menu a{
    color: white !important;
    display: flex;
    padding: 12px 0px;
    font-weight: 700;
    transition: all .4s;
    overflow: hidden;
    position: relative;
  }
  .footer .footer-menu a::before{
    position: absolute;
    content: "";
    width: 30%;
    height: 3px;
    background-color: red;
    bottom: 0;
    left: -50px;
    opacity: 0;
    /* transform: translateX(-120px); */
  }
  .footer .footer-menu a:hover{
    color: red !important;
  }
  .footer .footer-menu a:hover::before{
opacity: 1;
/* transform: translateX(0); */
left: 0;
  }
  .footer .footer-gallery .footer-img {
    width: 100%;
    transition: all .4s;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    
  }
  .footer .footer-gallery .footer-img img{
    transition: all .4s;

  }
  .footer .footer-gallery .footer-img::before{
position: absolute;
content: "";
background-color:rgba(123,44,55,.7);
width: 100%;
height: 100%;
top:0px;

/* overflow: hidden; */
  }
 
  .footer .footer-gallery .footer-img img:hover{
transform: scale(1.2);
  }
  /* footer section end */
  .footer-bottom{
    background-color: darkblue;
  }
  .dark{
    background-color: black !important;
    color: rgb(204, 139, 139);
  }
  .fixed{
    position: fixed;
    top: 120px;
    right: 30px ;
    background-color: green;
    color: wheat;
    padding: 10px;
    z-index: 22222;
  }